.billard {
  display: flex;
  flex: 1;
}

.billard-content {
  background-color: whitesmoke;
  color: #383c43;
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  overflow: scroll;
}

.container-info {
  flex-direction: row;
}

.jeu {
  flex-direction: column;
}

.billard-nav {
  flex-direction: column;
  width: 200px;

  background-color: lightcoral;
}

.billard-content-title {
  font-size: xx-large;
  margin-top: 20px;
}

.billard-content-images {
  height: 250px;
  width: 450px;
  margin-top: 100px;
  margin-left: 50px;
}

.billard-content-dimensions {
  font-size: x-large;
  margin-top: 100px;
  margin-left: 100px;
}

.billard-content-text {
  width: 800px;
  margin-left: 50px;
  margin-top: 100px;
}
