.billard {
  display: flex;
  flex: 1;
}

.billard-content {
  flex: 1;
  flex-direction: column;
  background-image: url("https://i.pinimg.com/originals/f2/1f/9c/f21f9c91a68189c6958def13bc693704.jpg");
  color: antiquewhite;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-info {
  flex-direction: row;
}

.jeu {
  flex-direction: column;
}

.billard-nav {
  flex-direction: column;
  width: 200px;

  background-color: lightcoral;
}

.billard-content-title {
}

.billard-content-images {
}

.billard-content-dimensions {
}

.billard-content-jeu {
}

.billard-content-text {
}
