.billard {
  display: flex;
  flex: 1;
}

.billard-content {
  flex: 1;
  flex-direction: column;

  color: antiquewhite;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-info {
  flex-direction: row;
}

.jeu {
  flex-direction: column;
}

.billard-nav {
  flex-direction: column;
  width: 200px;

  background-color: lightcoral;
}

.billard-content-title {
  font-size: xx-large;
}

.billard-content-images {
  size: 450px 250px;
}

.billard-content-dimensions {
  font-size: x-large;
}

.billard-content-jeu {
}

.billard-content-text {
}
