.footer {
  height: 30px;
  background-color: violet;
  justify-content: center;
  align-items: center;
  position: sticky;
}

.contact {
  height: 30px;
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 100px;
  border: 3px solid #73ad21;
}
