.footer {
  height: 30px;
  background-color: violet;
  flex-direction: row-reverse;
  position: sticky;
}

.footer-content {
  height: 30px;
  width: 55vw;
  background-color: lightblue;
  justify-content: space-between;
  margin-right: 40px;
  align-items: center;
}
