.header {
  height: 50px;
  width: 100vw;
  background-color: red;
  flex-direction: row-reverse;
}

.header-content {
  height: 50px;
  width: 55vw;
  background-color: lightblue;
  justify-content: space-between;
  margin-right: 40px;
  align-items: center;
}

.header-dark {
  height: 40px;
}

.header-title {
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 600;
}
