.header {
  height: 50px;
  width: 100vw;
  background-color: #393b44;
}

.header:header-dark {
  height: 40px;
  position: absolute;
  top: 0;
  right: 10px;
  width: 100px;
  border: 3px solid #d6e0f0;
}

.header:header-title {
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 600;
  color: white;
}
