.header {
  height: 50px;
  width: 100vw;
  background-color: red;
  justify-content: center;
  justify-content: space-around;
}

.header-dark {
  height: 200px;
}

.title {
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: 600;
}
