.menu {
  background-color: #8d93ab;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  font-size: x-large;
  overflow: scroll;
}

.btn {
  cursor: pointer;
  border-radius: 100%;
  border: none;

  font-size: 18px;
  height: 120px;
  width: 120px;
}

.btn:hover {
  background-color: #383c43;
  color: white;
}
