.menu {
  background-color: #8d93ab;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.btn {
  cursor: pointer;
  border-radius: 100%;
  border: none;
  padding: 50px;
  font-size: 22px;
}
