.modal {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  background: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
  background: cornsilk;
  width: 80%;
  max-width: 600px;
  margin: 4rem auto;
  flex-direction: column;
  height: 300px;
}

.modal-header {
  background: #383c43;
  height: 1px;
  color: darkgrey;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-header span {
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-content {
  padding: 1.5rem 1rem;
  width: 500px;
}

.modal-body {
  margin-bottom: 1rem;
  flex-direction: column;
}

.moadal-body h4 {
  font-size: 1.8rem;
  color: coral;
}

.moadal-p {
  font-size: 1rem;
  background: #eeeeee;
  color: #333;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
}

.modal-footer button {
  display: block;
  font-size: 1rem;
  margin-left: auto;
  padding: 0.5 rem 1.8rem;
  background: #8d94ab;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.textarea {
  resize: none;
}
